# Segmenting and Clustering Neighborhoods in Toronto (Cont.)

import library pandas

In [1]:
import pandas as pd

import data list postal and coordinate

In [6]:
df_1 = pd.read_csv('List_of_postal.csv')
df_2 = pd.read_csv('Geospatial_Coordinates.csv')
display(df_1.head(1))
display(df_2.head(1))

  Postal code     Borough Neighborhood
0         M3A  North York    Parkwoods

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353

Rename column

In [16]:
df_1.rename(columns={'Postal code':'Postal Code'},inplace=True)

combine df_1 and df_2 on Postal Code

In [19]:
df = pd.merge(df_1,df_2,on='Postal Code',how='inner')

In [21]:
df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [22]:
df.isna().sum()/len(df)

Postal Code     0.0
Borough         0.0
Neighborhood    0.0
Latitude        0.0
Longitude       0.0
dtype: float64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
 3   Latitude      103 non-null    float64
 4   Longitude     103 non-null    float64
dtypes: float64(2), object(3)
memory usage: 4.8+ KB

In [25]:
df.Borough = df.Borough.astype('category')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Postal Code   103 non-null    object
 1   Borough       103 non-null    category
 2   Neighborhood  103 non-null    object
 3   Latitude      103 non-null    float64
 4   Longitude     103 non-null    float64
dtypes: category(1), float64(2), object(2)
memory usage: 4.5+ KB

In [28]:
df.head(20)

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
7,M3B,North York,Don Mills,43.745906,-79.352188
8,M4B,East York,"Parkview Hill, Woodbine Gardens",43.706397,-79.309937
9,M5B,Downtown Toronto,"Garden District, Ryerson",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov...",43.650943,-79.554724
12,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
13,M3C,North York,Don Mills,43.725900,-79.340923
14,M4C,East York,Woodbine Heights,43.695344,-79.318389
15,M5C,Downtown Toronto,St. James Town,43.651494,-79.375418
16,M6C,York,Humewood-Cedarvale,43.693781,-79.428191
17,M9C,Etobicoke,"Eringate, Bloordale Gardens, Old Burnhamthorpe...",43.643515,-79.577201
18,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
19,M4E,East Toronto,The Beaches,43.676357,-79.293031