# Segmenting and Clustering Neighborhoods in Toronto

import library such as BeautifulSoup, request and pandas

In [9]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

take source from wikipedia html using request

In [12]:
source = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text

translate raw text to html format

In [7]:
data = BeautifulSoup(source,'lxml')

from html select table<br>
![img](1.png)
![img](https://github.com/TynClause/Segmenting-and-Clustering-Neighborhoods-in-Toronto/blob/master/2.png)

In [28]:
table = data.find('table')

after get selected table, convert to dataframe using read_html

In [65]:
df = pd.read_html(str(table))[0]
df.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

remove Not assigned in Borough

In [66]:
df.drop(df[df.Borough == 'Not assigned'].index,inplace=True,axis=0)

In [67]:
df.head()

  Postal code           Borough                                  Neighborhood
2         M3A        North York                                     Parkwoods
3         M4A        North York                              Victoria Village
4         M5A  Downtown Toronto                    Regent Park / Harbourfront
5         M6A        North York             Lawrence Manor / Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

replace "/" to "," in Neighborhood

In [68]:
df['Neighborhood'] = df['Neighborhood'].str.replace(' /',',')

check is duplicate data in Postal code

In [76]:
df[df.duplicated(subset='Postal code',keep=False)]

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [69]:
df.head()

  Postal code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

check is Neigborhood have Not assigned

In [73]:
df[df.Neighborhood == 'Not assigned']

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

check dimension table

In [74]:
df.shape

(103, 3)

In [79]:
df.to_csv('List_of_postal.csv',index=False)